.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0;
}

@media screen and (max-width: 960px) {
    .header {
         padding: 46px 24px 0;
    }
  }

@media screen and (max-width: 660px) {
    .header {
        padding: 30px 16px 0;
    }
}
