.place__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: white;
    margin: 0 0 26px 0;
}

.place__text:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 960px) {
    .place__text {
        font-size: 16px;
        line-height: 163%;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 660px) {
    .place__text {
        margin: 0 auto 25px;
        font-size: 16px;
        line-height: 163%;
    }
}