.footer__links {
    display: flex;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 660px) {
    .footer__links {
        padding: 0;
        margin: 0;
        display: block;
    }
}