.intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #ffff;
    margin: 48px 0 33px;
}

@media screen and (max-width: 960px) {
    .intro__text {
        margin-top: 40px;
    }
}