.place__website_link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 0;
    transition: .5s;
}

.place__website_link:hover {
    opacity: .4;
    transition: .5s;
}

@media screen and (max-width: 660px) {
    .place__website_link {
        margin-bottom: 12px;
        min-width: 288px;
        margin: 0 auto;
    }
}