.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 92px 48px 24px;
}

@media screen and (max-width: 960px) {
    .footer {
        padding-top: 88px;
    }
}

@media screen and (max-width: 660px) {
    .footer {
        display: block;
        margin: 0;
        padding: 64px 0 0 16px;
    }
}